/*fonts*/
	@font-face {
	    font-family: 'ofont_ru_ArialCyr';
	    src: url('../fonts/arialMT/ofont_ru_ArialCyr.eot');
	    src: url('../fonts/arialMT/ofont_ru_ArialCyr.eot') format('embedded-opentype'),
	         url('../fonts/arialMT/ofont_ru_ArialCyr.woff2') format('woff2'),
	         url('../fonts/arialMT/ofont_ru_ArialCyr.woff') format('woff'),
	         url('../fonts/arialMT/ofont_ru_ArialCyr.ttf') format('truetype'),
	         url('../fonts/arialMT/ofont_ru_ArialCyr.svg#ofont_ru_ArialCyr') format('svg');
	}
/*reset*/
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
body{
	font-family: 'ofont_ru_ArialCyr';
	margin: 0;
	padding: 0;
	font-size: 12px;
}
ul,li{
	display: block;
	margin: 0;
	padding: 0;
}
h1{
	text-transform: uppercase;
	font-size: 36px;
}
h2{
	position:relative;
	font-size: 18px;
	background:linear-gradient(#fff, #ececec);
	padding: 16px 0 18px 15px;
	/*margin-bottom:16px;*/
}
h2:before{
	content:"";
	position: absolute;
	bottom:-4px;
	height: 10px;
	width: 10px;
	transform: skewY(45deg);
	background:#ebebeb;
	z-index: -5;
	border:1px solid #e7e7e7;
}
h3{
	font-size: 14px;
	color:#0174bd;
	text-decoration: underline;
	transition: all 0.2s ease;
}
h3:hover{
	color: #f14950;
	cursor:pointer;
}
aside{
	margin-top: 16px;
}
.container{
	width:1000px;
	margin: 0 auto;  
}
.top{
	background: url('../img/sky.png')no-repeat center top,url(../img/town.png)repeat-x center center,linear-gradient(to top, #ebebeb 0%, #fff 100%);
}
.topLine{
	vertical-align: middle;
	display: flex;
	align-items: center;
	margin-top: 27px;
	padding-bottom: 27px;
	
}
.topLine>form{
	background: url(../img/grass.png)no-repeat top right;
}
.search{
	width: 224px;
	border: 3px solid #dfdfdf;
	border-radius: 30px;
	margin-left: 443px;
	padding: 10px 0 10px 16px;
}
.topLine>p{
	width: 182px;
	height: 23px;
	margin-left: 11px;
	font-size: 11px;
	color: #7d7d7d;
}
.menu>ul {
    display: flex;
    justify-content: space-around ;
    background: #047fc1;
    padding-bottom: 12px;
    padding-top: 11px;
    border-top:3px solid #01b7ee;
    border-radius:5px;
}
.in_menu>a{
	text-decoration: none;
	text-transform: uppercase;
	color:#fff;
}
.in_menu:hover a{
	color: #fff200; 
}
.active{
	background: #01b7ee;
	/*padding:11px 27px;*/
}
.mainInf{
	position: relative;
	margin-top: 27px;
	/*background: url(../img/town.png)repeat-x center ;*/
	min-height: 200px
}
.in_mainInf{
	position: absolute;
	top:62px;
	right:62px;
	width: 450px;
	color:#fff;
}
.woman{
	box-shadow: 15px 15px 27px #b9baba;
}
/*.circle{
	position: absolute;
	width: 10px;
	height: 10px;
	background: #bbb8b5;
	border-radius: 50%;
	margin-left:7px;
}
.circleActive{
	background:radial-gradient(##f88b8b #f84f4f ) ;
}*/
.shopMenu{
	display: flex;
	justify-content: space-between;
	margin-top: 21px;
	/*background-image: linear-gradient(to top, #ebebeb 0%, #ffffff 100%);*/
}
.in_shopMenu{
	width: 175px;
	height:84px;
	padding: 30px 0 0 90px;
}
.store{
	background: url(../img/store.png)no-repeat left;
}
.basket{
	width: 224px;
	background: url(../img/basket.png)no-repeat left;
	position: relative;
}
.basket:before{
	content:"";
	position:absolute;
	left:-20px;
	top:calc(50% - 10px);
	height: 21px;
	border-right:1px dotted #808080b3;
}
.basket:after{
	content:"";
	position:absolute;
	right:-20px;
	top:calc(50% - 10px);
	height: 21px;
	border-right:1px dotted #808080b3;
}
.weather{
	width: 180px;
	background: url(../img/weather.png)no-repeat left center;
}
.in_shopMenu>a>h3{
	margin:0 0 8px 0;
}
.secondSectionWrap{
	margin-top: 27px;
	display: flex;
	justify-content: space-between;
	box-sizing:padding-box;
}
.btn{
/*	width: 221px;
	height: 38px;*/
	background:linear-gradient(#fff , #f4f4f4);
	text-decoration: underline;
	padding: 13px 69px 12px 14px;
	border-radius: 5px
}
.btnGreen{
	color: #0c8a2d;
	border:1px solid #0c8a2d;
}
.btnRed{
	color: #e31b3b;
	border:1px solid #e31b3b;
}
.publications{
	width: 503px;
	border:1px solid #e7e7e7;
	border-radius: 5px;

	/*padding:16px 338px 18px 15px;*/
}
.block_publications{
	position: relative;
	display: flex;
	align-items:flex-start;
    padding-bottom: 15px;
	margin-top: 16px;
	margin-left: 14px;
}
.block_publications:after{
	content:"";
	position:absolute;
	bottom:7px;
	left:0;
	width: 472px;
	height: 0;
	border-bottom:1px dashed #808080b3;
}
.man{
	margin-right: 15px;
}
.publicationsInfo{
	/*width: 255px;*/
}
.publicationsInfo>h3{
	width: 255px;
	margin-bottom: 13px;
}
.divide{
	margin-bottom: 11px;
	color: #959595;
}
.divide>a{
	color: #959595;
	transition: all 0.2s ease;
}
.divide>a:hover{
	text-decoration: none;
}
.description{
	height: 49px;
	width: 242px;
	overflow: hidden;
	margin-bottom: 14px;
}
.commentWrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.commentWrap>p{
	color: #959595
}
.buttom{
	text-decoration: none;
	color: #fff;
	background: #0080c0;
	padding: 9px 12px 7px 17px;
	border-top: 2px solid #00bdf3;
	border-radius: 5px;
	transition: all 0.5s ease;
}
.buttom:hover{
	background:linear-gradient( #088cd7 0%, #02b5ec 100%);
}
.commentWrap>p>span{
	font-size: 18px;
	color: #0583c3;
}
.pages{
	display:flex;
	justify-content:space-around;
	align-items:flex-end;
	margin: 20px 0 20px 0;
}
.pagesList{
	display:flex;
}
.pagesList>li{
	margin-right: 20px;
}
.pagesList>li>a{
	color: #000;
	font-size: 12px;
	display:block;
	transition: all 0.5s ease;
	text-decoration: underline;
}
.pagesList>li:hover a{
	color: #ed1c24;
}
.pagesList>.activePages>a{
	font-size: 18px;
    color: #0583c3;
    text-decoration: none;
}
.articles{
	margin-top: 54px;
	border:1px solid #e7e7e7;
	border-radius: 5px;
	width: 228px;
}
.blockArticlesList{
	margin: 15px 15px 14px 0;
	padding-left: 20px;
}
.blockArticlesList>li{
	background: url('../img/doubleArrow.png')no-repeat left;
	margin-top:12px;
	width: 176px;
	padding-left: 10px;
}
.blockArticlesList>li>a{
	color:#0174bd;
	text-decoration: underline;
	transition: all 0.2s ease;
}
.blockArticlesList>li:hover a{
	color: #ed1c24;
}
.footer{
	margin-top:28px;
	margin-bottom: 19px;
}
.footerInfo{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 23px;
	color:#848484;
}
.footerInfo>p{
	width:445px;
}
.mapPartners>li>a{
	color:#848484;
}
.freePixle{
	display: flex;
	align-items: flex-end;
}
.freePixle>p{
	width: 157px;
	text-align: right;
	margin-right: 12px;
}
.freePixle>p>a{
	color:#848484;
}